.playAgainButton {
  font-size: 0.7rem;
  color: var(--color-gray-900);
  border: solid var(--color-gray-900) 1px;
  border-radius: 13px;
  padding: 2px 8px;

  transition: opacity 2s ease-in-out;
  transition-delay: 2s;
  opacity: 0;
}

.playAgainButton.appear {
  opacity: 1;
}
