.cell {
  position: relative;
  flex-grow: 1;
  aspect-ratio: 1 / 1;
  border: grey solid 2px;
  border-radius: 3px;

  text-transform: uppercase;
  font-weight: bold;
  display: grid;
  place-items: center;

  background-color: var(--color);

  container-type: size;
  container-name: layout;
}

.letter {
  font-size: clamp(0.4rem, 3vw + 1.5rem, 3.1rem);
  pointer-events: none;
  position: absolute;
}

@container layout ( height < 38px ) {
  .letter {
      font-size: clamp(0.1rem, 2vw + 0.5rem, 1.6rem);
  }
}
