.inputForm {
  width: 100%;

  margin-top: 20px;
}

.textInput {
  width: 100%;
  height: 40px;
  border: grey solid 2px;
  border-radius: 3px;
  font-size: 1.6rem;
  letter-spacing: 21px;
  font-weight: bold;
}
