.bannerWrapper {
  position: relative;
  height: var(--banner-height);
}

.banner {
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);

  border-radius: 4px;
  padding: 5px;

  display: grid;
  place-items: center;

  animation: slideDown 1000ms ease-out forwards;
}
@keyframes slideDown {
  from {
    transform: translateY(-110%);
    opacity: 0.7;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.winner {
  background-color: var(--color-success);
}

.loser {
  background-color: var(--color-error);
}
